<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Login</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {{#if loggedIn}}
            <li><a href="/profile">Profile</a></li>
            <li><a href="" id="logout-btn">Log out</a></li>
            {{else}}
            <li><a href="/">Log in</a></li>
            <li><a href="/signup">Sign up</a></li>
            {{/if}}
        </ul>
    </nav>
    {{{body}}}
    <script src="/logout.js"></script>
</body>

</html>