<h2 id="budget-logo">Budgét</h2>
{{#each exspense as |exspenses| }}
<div class="exspense-block">
    <div class="purchase-name">
        <p>{{purchase-name-var}}</p>
    </div>
    <div class="amount">
        <p>{{amount-var}}</p>
    </div>
    <div class="category">
        <p>{{category-var}}</p>
    </div>
</div>
{{/each}}
purchase name
amount
category