<section>
    <header class="title">
        <h1>Budgét</h1>
    </header>
    <div class="login-form">
        <div class="login-title">
            <h1 class="login-text">Login Here</h1>
        </div>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password"><br>
            <button value="Login" id="submitBtn">
                <a href="/signup">Go to signup</a>
        </form>
    </div>
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
    <div class="wave wave4"></div>
</section>